* {
  font-family: Microsoft JhengHei; }

body, html {
  position: relative; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold; }

nav.navbar.navbar-default.navbar-fixed-top.navbar-top.container {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

header.jumbotron {
  text-align: center;
  background-image: url(http://myimage.polopalsu.com/images/picturetip-com-gallery-night-sea-pictures.jpg);
  background-size: cover;
  background-position: center center;
  padding: 130px;
  color: white; }
  header.jumbotron .h1 {
    font-weight: 900;
    letter-spacing: 2px; }
  header.jumbotron p {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px; }

section#section_services img {
  width: 130%; }

section#section_services .img_wrap {
  height: 220px;
  overflow: hidden;
  margin: 20px 0px; }
